*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #393939;
}

/* .fixed {
  z-index: 10;
} */

/* .menu {
  transition: all 0.3s ease;
} */
