*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.fixed {
  z-index: 10;
}

.menu {
  transition: all 0.3s ease;
}

.active {
  color: red;
}

/* index */
.content-wrapper {
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: rgb(255, 255, 255);
  background: linear-gradient(
    45deg,
    #d4c2fc 0%,
    #eee4e5 10%,
    #f4d3f0 20%,
    #c8e0f8 30%,
    #a9f7fe 40%,
    #d4c2fc 50%,
    #eee4e5 60%,
    #f4d3f0 70%,
    #c8e0f8 80%,
    #a9f7fe 90%,
    #d4c2fc 100%
  );
  mix-blend-mode: hard-light;
  animation-name: gradientanimation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-position: 0vw center;
  background-size: 200vw 200vw;
}

@keyframes gradientanimation {
  0% {
    background-position: 0vw center;
  }

  50% {
    background-position: 100vw center;
  }

  100% {
    background-position: 200vw center;
  }
}
